<h1 id="mainTitle">로또 공 굴리기 게임 ( Lotto Game )</h1>
<div id="lottoBalls">
    <%= @lottoball1 %>
    <%= @lottoball2 %>
    <%= @lottoball3 %>
    <%= @lottoball4 %>
    <%= @lottoball5 %>
    <%= @lottoball6 %>
</div>
<style>
    #mainTitle {
        text-align:center;
        margin-top:50px;
    }
    #lottoBalls {
        text-align:center;
        margin-top:50px;
        border:1px solid black;
    }
</style>
<script>
    
</script>